.img{

    width:60px;
}

.quantity{
    text-align: center;
}

.cart{
    font-weight: bold;
}

.card {
    margin: 30px 0 auto 500px;
}

.span{
    display: grid;
    color: rgb(11, 235, 71);
    font-size:medium;
}